<ion-content [fullscreen]="true">
  <div class="details-page">
    <div class="details-section">
      <h2>Pratos</h2>
      <div class="details-items">
        <img class="details-item-image" src="assets/imagens/prato.jpeg" alt="Pão de alho">
        <div class="details-item">
          <div class="details-item-title">Picanha</div>
          <div class="details-item-description">500g de picanha fatiada, acompanha arroz branco, feijão preto e batata frita.</div>
          <div class="details-item-price">€32,9</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Picanha uruguaia</div>
          <div class="details-item-description">300g de picanha uruguaia, acompanha batata frita.</div>
          <div class="details-item-price">€35,9</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Picanha de Wagyu</div>
          <div class="details-item-description">250g de picanha wagyu.</div>
          <div class="details-item-price">€100</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Cupim assado</div>
          <div class="details-item-description">Cupim assado, acompanha batata frita.</div>
          <div class="details-item-price">€27,9</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Cupim com queijo</div>
          <div class="details-item-description">Cupim assado e recheado com queijo, acompanha batata frita.</div>
          <div class="details-item-price">€30</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
