<ion-content [fullscreen]="true">
  <div class="details-page">
    <div class="details-section">
      <h2>Lanches</h2>
      <div class="details-items">
        <img class="details-item-image" src="assets/imagens/lanche.jpeg" alt="Pão de alho">
        <div class="details-item">
          <div class="details-item-title">Cachorro quente simples</div>
          <div class="details-item-description">Pão de cachorro quente, salsisha, mostarda, ketchup e batata palha.</div>
          <div class="details-item-price">€5</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Cachorro quente completo</div>
          <div class="details-item-description">Pão de cachorro quente, salsisha, mostarda, ketchup, batata palha, mozzarela, cheddar, bacon e milho.</div>
          <div class="details-item-price">€8</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Cheese burger</div>
          <div class="details-item-description">Pão brioche, hamburguer (120g) e mozzarela.</div>
          <div class="details-item-price">€10</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Double cheese burger</div>
          <div class="details-item-description">Pão brioche, 2x hamburguer (120g) e mozzarela.</div>
          <div class="details-item-price">€12</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Bacon cheddar burger</div>
          <div class="details-item-description">Pão brioche, hamburguer (120g), cheddar derretido e bacon.</div>
          <div class="details-item-price">€14</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
