<ion-content [fullscreen]="true">
  <div class="details-page">
    <div class="details-section">
      <h2>Sobremesas</h2>
      <div class="details-items">
        <img class="details-item-image" src="assets/imagens/sobremesa.jpeg" alt="Pão de alho">
        <div class="details-item">
          <div class="details-item-title">Pastel de Belém</div>
          <div class="details-item-description">É um dos doces conventuais mais tradicionais de Portugal..</div>
          <div class="details-item-price">€5</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Mil-Folhas de Doce de Leite com Gelado de Amendoim Salgado</div>
          <div class="details-item-description">Mousse de Doce de Leite, Massa Folhada e Gelado de Amendoim Salgado.</div>
          <div class="details-item-price">€9,8</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Tarte de Queijo Manchego Trufado com Gelado de Goiaba</div>
          <div class="details-item-description">Queijo Manchego, Azeite de Turfa, Crumble e Gelado de Goiaba.</div>
          <div class="details-item-price">€9,3</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Macaron de Avelã e Chocolate 74% com Gelado de Nata</div>
          <div class="details-item-description">Macaron, Cremoso de Chocolate 74%, Creme de Avelã e Gelado de Nata.</div>
          <div class="details-item-price">€9,7</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Crème Brûlée de Erva Príncipe com Gelado de Goiaba</div>
          <div class="details-item-description">Crème Brûlée de Erva Príncipe, Curd de Limão e Gelado de Goiaba.</div>
          <div class="details-item-price">€8,9</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
