<ion-content [fullscreen]="true">
  <div class="details-page">
    <div class="details-section">
      <h2>Bebidas</h2>
      <div class="details-items">
        <img class="details-item-image" src="assets/imagens/beer.jpeg" alt="Pão de alho">
        <div class="details-item">
          <div class="details-item-title">Chopp Super Bock</div>
          <div class="details-item-price">200ml: €3 / 400ml: €4 / 500ml: €5</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Chopp Heineken</div>
          <div class="details-item-price">200ml: €4 / 400ml: €5 / 500ml: €6</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Refrigerante Normal ou Zero</div>
          <div class="details-item-price">€2</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Água</div>
          <div class="details-item-price">Sem gás: €1 / Com gás: €1,5</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Taça de vinho</div>
          <div class="details-item-price">€8</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
