<ion-content [fullscreen]="true">
  <div class="details-page">
    <div class="details-section">
      <h2>Entradas</h2>
      <div class="details-items">
        <img class="details-item-image" src="assets/imagens/pao-de-alho.jpeg" alt="Pão de alho">
        <div class="details-item">
          <div class="details-item-title">Pão de alho</div>
          <div class="details-item-description">Pão de alho recheado com queijo</div>
          <div class="details-item-price">€2</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Táboa de queijos</div>
          <div class="details-item-description">Mix de queijos: Mozzarela, Brie, Serra da Estrela</div>
          <div class="details-item-price">€13,5</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Táboa de presunto</div>
          <div class="details-item-description">Presunto de Pata Negra</div>
          <div class="details-item-price">€12</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Salada</div>
          <div class="details-item-description">Salada caeser</div>
          <div class="details-item-price">€12</div>
        </div>
        <div class="details-item">
          <div class="details-item-title">Torrada</div>
          <div class="details-item-description">Torradas de pão caseiro</div>
          <div class="details-item-price">€1,8</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
