<ion-app>
  <ion-content class="ion-padding">
    <div id="container">
      <app-categorias></app-categorias>
    </div>
    <div class="chef-tip">
      <div class="chef-tip-image">
        <img src="assets/imagens/prato-do-dia.jpeg" alt="Food Image">
      </div>
      <div class="chef-tip-content">
        <h2>Prato do dia</h2>
        <p>A melhor picanha da região. Essa é a dica do chef para hoje, uma picanha deliciosa. Por apenas €42,90</p>
        <ion-button expand="block" (click)="goToFoodDetails()">Ver detalhes</ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>