<ion-content>
  <div class="details-page">
    <div class="chef-tip"></div>

    <div class="details-section">
      <h2>Entradas</h2>
      <div class="details-items">
        <div class="details-item">
          <div class="details-item-title">Pão de alho</div>
          <img class="details-item-image" src="assets/imagens/pao-de-alho.jpeg" alt="Pão de alho">
          <div class="details-item-description">Pão de alho recheado com queijo</div>
        </div>
      </div>
    </div>

    <div class="details-section">
      <h2>Prato Principal</h2>
      <div class="details-items">
        <div class="details-item">
          <div class="details-item-title">Picanha</div>
          <img class="details-item-image" src="assets/imagens/prato-do-dia.jpeg" alt="Prato do dia">
          <div class="details-item-description">500g de picanha grelhada, acompanhada com arroz branco, feijão preto e batata frita</div>
        </div>
      </div>
    </div>

    <div class="details-section">
      <h2>Sobremesa</h2>
      <div class="details-items">
        <div class="details-item">
          <div class="details-item-title">Pastel de Belém</div>
          <img class="details-item-image" src="assets/imagens/sobremesa.jpeg" alt="Sobremesa">
          <div class="details-item-description">É um dos doces conventuais mais tradicionais de Portugal.</div>
        </div>
      </div>
    </div>

    <div class="details-description">
      <h2>Refeição completa</h2>
      <p>Essa é a dica do chef para o dia de hoje, com certeza será a melhor opção. Observação.: bebidas a parte.</p>
      <div class="details-price">Tudo isso por €42,90</div>
    </div>
  </div>
</ion-content>
